# STM32CubeIDE generated build folders
/Debug/
/Release/

# STM32CubeIDE local workspace metadata
/.settings/
*.launch

# Firmware build artifacts
*.elf
*.hex
*.bin
*.map
*.list
*.o
*.d
*.su
*.cyclo

# OS/editor
Thumbs.db
.DS_Store
